---
import { Image } from "astro:assets";

import logo from "@assets/logo.png";
---

<header class="fixed w-full bg-white z-100 border-b-1 border-black/5">
    <div class="py-8 px-16 flex flex-row justify-between">
        <Image loading={'eager'} src={logo} class="object-contain" height={64} alt="" />
        <nav class="flex flex-row items-center gap-4">
            <a
                class="hover:text-secondary text-primary font-bold text-lg px-4 py-2"
                href="#program"
            >Program</a>
            <a
                class="hover:text-secondary text-primary font-bold text-lg px-4 py-2"
                href="#participanti"
            >Participanți</a>
        </nav>
    </div>
</header>
